* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
.text-center {
  text-align: center;
}
body {
  background-color: #f0e1c5;
  color: #48281a;
}
/*header section*/
#header,
#our-menu,
#about-us,
#contact-us,
footer {
  /* border: 3px solid; */
  width: 90%;
  margin: 0px 10px 10px;
  padding: 50px;
}
#header h1 {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-style: "normal";
  font-variant: "small-caps";
  padding-bottom: 10px;
  font-size: 3rem;
}
#header p {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-style: "normal";
  font-variant: "normal";
  margin-bottom: 30px;
}
#header .btn-cta {
  background-color: #48281a;
  color: #f0e1c5;
  padding: 15px 50px;
  text-decoration: none;
  border-radius: 5px;
}

/*nav section*/
nav {
  background-color: rgba(72, 40, 26, 0.8);
  position: sticky;
  top: 0;
  padding: 10px;
}
nav ul li {
  /* border: 1px solid;
  border-radius: 5px; */
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  transition: 1s;
}
nav ul li:hover {
  border-bottom: 2px solid #f0e1c5;
}
nav ul li a {
  text-decoration: none;
  color: #f0e1c5;
}

/*our menu section*/
#our-menu h2,
#about-us h2,
#contact-us h2 {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-style: "normal";
  font-variant: "small-caps";
  padding-bottom: 10px;
  font-size: 2rem;
}
.menu {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card {
  background-color: #f0e1c5;
  /* display: inline-block; */
  border: 1px solid #000;
  width: 250px;
  text-align: center;
  border-radius: 5px;
  font-family: "lato", sans-serif;
  font-style: normal;
  padding: 10px;
  margin: 20px 10px;
}
.card-img-top {
  width: 100%;
  border-radius: 5px;
}
.card-title {
  font-weight: 700;
  font-size: 19px;
}
.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
}
.price {
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5em;
}
.btn-order {
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 1px solid #000;
  /* padding: 15px 90px; */
  border-radius: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #48281a;
  color: #f0e1c5;
  font-style: normal;
  font-weight: 400;
}

/*about us section*/
#about-us p,
#contact-us p {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-align: justify;
  line-height: 1.5em;
  padding: 10px 0;
}

/*contact us section*/
form {
  width: 80%;
  margin: 0 auto;
}
form div {
  padding: 10px 0;
  margin-bottom: 10px;
}
.form-label {
  width: 30%;
  display: inline-block;
  text-align: right;
  font-family: "lato", sans-serif;
}
.form-control {
  background-color: #f0e1c5;
  width: 60%;
  border: none;
  outline: none;
  border-bottom: 1px solid #48281a;
}
.btn-send {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 40px;
  background-color: #48281a;
  color: #f0e1c5;
  border: none;
  border-radius: 5px;
}
/*footer section*/
footer a {
  border: 1px solid #48281a;
  border-radius: 50%;
  background-color: #48281a;
  color: #f0e1c5;
  position: fixed;
  right: 20px;
  bottom: 20px;
  text-decoration: none;
  font-size: 30px;
}
footer p {
  text-align: center;
  font-family: "lato", sans-serif;
  font-size: 0.8rem;
}
